@charset "euc-kr";
/* common */
body {min-width:1000px;}
body, html{width:100%;height:100%;margin:0;font-family:'Malgun Gothic', '맑은 고딕', '돋움', 'dotum', sans-serif;}
h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, form, fieldset, p {font-family:'Malgun Gothic', '맑은 고딕', '돋움', 'dotum', sans-serif;}
select {font-family:'Malgun Gothic', '맑은 고딕', '돋움', 'dotum', sans-serif;}
iframe, button {border:0;cursor:pointer;}
caption,
.hide {font-size:0;text-indent:-9999em;height:0;line-height:0;}
.inner {position:relative;width:1000px;height:100%;margin:0 auto;}
* {font-family:'Malgun Gothic', '맑은 고딕', '돋움', 'dotum', sans-serif;outline:0;margin:0;padding:0;}

/* common layout */
#evt_wrap {overflow:hidden;position:relative;width:100%;min-width:1000px;font-family:'Noto Sans KR', 'Malgun Gothic', '맑은 고딕', '돋움', 'dotum', sans-serif;box-sizing:border-box;background:#c9c5ad;}
#evt_wrap * {box-sizing:border-box;}
#evt_wrap .logo {position:absolute;top:20px;left:0;z-index:100;}
#evt_wrap .logo a {display:block;width:82px;height:52px;background:url('../images/logo.png?ver=20220923') no-repeat;text-indent:-9999em;}
#evt_wrap .evt-content {position:relative;width:100%;min-width:1000px;overflow:hidden;text-align:center;line-height:1.2;}
#evt_wrap .content-body {position:relative;}


/* content layout */
#evt_wrap .evt-header {position:relative;height:636px;background:url('../images/bg_header.jpg?ver=20220923') no-repeat center 0;text-align:center;}
.content-body .section01 {position:relative;height:890px;background:url('../images/bg_section01.jpg?ver=20220923') no-repeat center 0;}
.content-body .section02 {position:relative;height:985px;background:url('../images/bg_section02.jpg?ver=20220923') no-repeat center 0;}
.content-body .section03 {position:relative;height:924px;background:url('../images/bg_section03.jpg?ver=20220923') no-repeat center 0;}
.content-body .section04 {position:relative;height:1085px;background:url('../images/bg_section04.jpg?ver=20220923') no-repeat center 0;}
.content-body .section05 {position:relative;height:291px;background:url('../images/bg_section05.jpg?ver=20220923') no-repeat center 0;}

.btn {display:inline-block;text-indent:-9999em;}

.motion-wrap {position:absolute;width:236px;height:268px;padding:8px;}
.section01 .motion-wrap {top:262px;left:3px;background-color:#9cd3ce;}
.section02 .motion-wrap {top:202px;right:3px;background-color:#967fd3;}
.section03 .motion-wrap {top:212px;left:3px;background-color:#9cd3ce;}
.section04 .motion-wrap {top:272px;right:3px;background-color:#967fd3;}

.motion-wrap::after {content:'';position:absolute;top:-9px;right:-9px;width:254px;height:286px;}
.section01 .motion-wrap::after, .section03 .motion-wrap::after {background:url('../images/bg_frame01.png?ver=20220923') no-repeat center 0;}
.section02 .motion-wrap::after, .section04 .motion-wrap::after {background:url('../images/bg_frame02.png?ver=20220923') no-repeat center 0;}

.motion-wrap .motion-box {overflow:hidden;position:relative;width:220px;height:252px;}
.motion-wrap video {position:absolute;top:0;left:0;width:100%;height:100%;}

.btn-box {position:absolute;left:50%;top:105px;width:476px;height:108px;margin-left:-238px;padding:0 15px 22px;background:url('../images/btn_item.png?ver=20220923') no-repeat center 0;}
.btn-box .btn-item {display:block;height:100%;border-radius:38px;}


/* board, footer */
.event_comment {background:#fdfdfd url('../images/bbs_bg.jpg?ver=20220923') no-repeat 50% 0;}
.event_comment_in {width:980px;margin:0 auto;padding:150px 0 0 0;}
.footer {position:relative;height:104px;background:#fdfdfd;line-height:104px;}
.footer_copyright {width:100%;color:#666;text-align:center;font-family:'Tahoma', 'Geneva', 'sans-serif';font-size:11px;letter-spacing:0px;}