@charset "euc-kr";

/* 3차 */
#evt_wrap {background-color:#1d2023;}
.evt-header {overflow:hidden;background:url('../images/bg_header.jpg') no-repeat 50% 80px;}
.evt-header::before {content:'';position:absolute;bottom:0;left:0;width:100%;height:476px;background:url('../images/bg_smoke03.png') no-repeat center;opacity:0;animation: smokeShow02 1.8s 2.8s forwards ease-in}
.evt-header .title-area {position:absolute;left:50%;top:80px;width:660px;height:768px;margin-left:-330px;}
.evt-header .title-area::before {content:'';position:absolute;top:0;left:0;width:100%;height:100%;background:url('../images/bg_smoke.png') no-repeat;opacity:0;animation: smokeShow 1.8s forwards ease-in}
.evt-header .title {position:relative;width:100%;height:100%;background:url('../images/title.png') no-repeat;}
.evt-header .title::before {content:'';position:absolute;top:0;left:0;width:100%;height:318px;background:url('../images/bg_smoke02.png') no-repeat;opacity:0;animation: smokeShow 1.8s 2.8s forwards ease-in}

.evt-header .character {position: absolute;opacity:0;}
.evt-header .character:not([data-character-num="4"]) {animation: characterShow 0.7s forwards cubic-bezier(.31,.53,.75,1.03),characterMove 1.4s infinite linear;}
.evt-header .character[data-character-num="1"] {top:246px;left:170px;width:180px;height:270px;background:url('../images/bg_character01.png') no-repeat top;animation-delay:1.3s;}
.evt-header .character[data-character-num="2"] {top:246px;right:150px;width:120px;height:276px;background:url('../images/bg_character02.png') no-repeat top;animation-delay:0.8s;}
.evt-header .character[data-character-num="3"] {top:312px;left:345px;width:188px;height:426px;background:url('../images/bg_character03.png') no-repeat top;animation-delay:1.8s;}
.evt-header .character[data-character-num="4"] {top:304px;right:210px;width:464px;height:654px;background:url('../images/bg_character04.png') no-repeat top;animation: characterShow 0.7s forwards cubic-bezier(.31,.53,.75,1.03),characterMove02 1.2s infinite linear;animation-delay:2.5s;}

.evt-header .user-type {top:154px;}
.evt-header .user-type p {color:#d7b6e8}
.evt-header .user-type p strong, .evt-header .user-type p a {color:var(--color-white);}

.main .evt-content {background-color:#1d2023;}
.main .evt-content > .pattern {background: url('../images/bg_content_pattern.png') no-repeat;}
.main .evt-content .content-body {height:auto;}

.box-area h2 small {position:absolute;left:22px;top:-26px;font-weight:400;font-size:15px;letter-spacing:-1px;color:#fff;white-space:nowrap}
.box-area h2 span {display:block;font-weight:300;font-size:17px;}

.box-area .box-group {padding-top:0;}
.box-area .box {transition: all 0.4s ease;}

.box-area [data-box-num="1"] {width:377px;height:352px;background-image:url('../images/bg_box01_off.png');}
.box-area [data-box-num="2"] {width:378px;height:352px;background-image:url('../images/bg_box02_off.png');}
.box-area [data-box-num="3"] {width:386px;height:352px;background-image:url('../images/bg_box03_off.png');}
.box-area [data-box-num="4"] {width:359px;height:382px;background-image:url('../images/bg_box04_off.png');}
.box-area [data-box-num="5"] {width:359px;height:382px;background-image:url('../images/bg_box05_off.png');}
.box-area [data-box-num="6"] {top:5px;width:100%;height:50%;background-image:url('../images/bg_box06_off.png');}
.box-area [data-box-num="7"] {width:100%;height:50%;background-image:url('../images/bg_box07_off.png');}

.box-area [data-box-num="1"]:hover {background-image:url('../images/bg_box01_on.png');}
.box-area [data-box-num="2"]:hover {background-image:url('../images/bg_box02_on.png');}
.box-area [data-box-num="3"]:hover {background-image:url('../images/bg_box03_on.png');}
.box-area [data-box-num="4"]:hover {background-image:url('../images/bg_box04_on.png');}
.box-area [data-box-num="5"]:hover {background-image:url('../images/bg_box05_on.png');}
.box-area [data-box-num="6"]:hover {background-image:url('../images/bg_box06_on.png');}
.box-area [data-box-num="7"]:hover {background-image:url('../images/bg_box07_on.png');}

.box-area [data-box-num="1"]::before {background-image:url('../images/bg_box01_obj.png');background-position-y:0;}
.box-area [data-box-num="2"]::before {background-image:url('../images/bg_box02_obj.png');background-position-y:0;}
.box-area [data-box-num="3"]::before {background-image:url('../images/bg_box03_obj.png');background-position-y:0;}
.box-area [data-box-num="4"]::before {background-image:url('../images/bg_box04_obj.png');}
.box-area [data-box-num="5"]::before {background-image:url('../images/bg_box05_obj.png');}
.box-area [data-box-num="6"]::before {background-image:url('../images/bg_box06_obj.png');}
.box-area [data-box-num="7"]::before {background-image:url('../images/bg_box07_obj.png');}

.box-area [data-box-num="6"] h2,
.box-area [data-box-num="7"] h2 {height:102px;}

.box-area [data-box-num="4"] h2 small {left:27px;top:-29px;}
.box-area [data-box-num="5"] h2 small {top:-29px;}
.box-area [data-box-num="6"] h2 small {left:24px;top:-24px;}
.box-area [data-box-num="7"] h2 small {left:26px;top:-25px;}

.footer {background:rgba(0,0,0,.2);}

@keyframes characterShow {
	0% {opacity:0;}
    50%, 100% {opacity: 1;}
    80% {opacity: 0.8;}
}
@keyframes smokeShow {
	0% {opacity:0;}
	100% {opacity:1;}
}
@keyframes smokeShow02 {
	0% {opacity:0;transform:translateY(10px);}
	90% {transform:translateY(0);}
	100% {opacity:1;}
}
@keyframes characterMove {
	0%, 100% {transform:translateY(-6px);}
	50% {transform:translateY(6px);}
}
@keyframes characterMove02 {
	0%, 100% {transform:translateY(-12px);}
	50% {transform:translateY(12px);}
}