
/* 2차 */
.evt-header {background:url('../images/bg_header.jpg') no-repeat 50% 0;}
.evt-header .user-type {position:absolute;left:auto;right:0;top:508px;width:627px;height:41px;}
.main .evt-content .content-body {height:auto;}

.box-area .box-group {position:relative;width:353px;margin-top:-110px;padding-top:0;}
.box-area [data-box-num="1"] {width:398px;height:433px;background-image:url('../images/bg_box01.png');}
.box-area [data-box-num="2"] {width:389px;height:322px;background-image:url('../images/bg_box02.png');}
.box-area [data-box-num="3"] {width:353px;height:322px;background-image:url('../images/bg_box03.png');}
.box-area [data-box-num="4"] {width:397px;height:307px;background-image:url('../images/bg_box04.png');}
.box-area [data-box-num="5"] {width:389px;height:418px;margin-top:-110px;background-image:url('../images/bg_box05.png');}
.box-area [data-box-num="6"] {width:100%;height:209px;background-image:url('../images/bg_box06.png');}
.box-area [data-box-num="7"] {width:100%;height:209px;background-image:url('../images/bg_box07.png');}
.box-area [data-box-num="1"]::before {background-image:url('../images/bg_box01_obj.png');}
.box-area [data-box-num="2"]::before {background-image:url('../images/bg_box02_obj.png');}
.box-area [data-box-num="3"]::before {background-image:url('../images/bg_box03_obj.png');background-position-y:0;}
.box-area [data-box-num="4"]::before {background-image:url('../images/bg_box04_obj.png');}
.box-area [data-box-num="5"]::before {background-image:url('../images/bg_box05_obj.png');}
.box-area [data-box-num="6"]::before {background-image:url('../images/bg_box06_obj.png');}
.box-area [data-box-num="7"]::before {background-image:url('../images/bg_box07_obj.png');}
.box-area [data-box-num="3"] h2::before {content:'업무 평가';position:absolute;left:24px;top:-26px;font-weight:400;font-size:15px;letter-spacing:-1px;color:#fff;opacity:1;}