:root {
	--color-white : #fff;
	--color-point : #ffd75f;
	--icons : url('../images/ico_spr.png');
}

/* common layout */
#evt_wrap {overflow:hidden;position:relative;width:100%;min-width:1200px;font-family:'Noto Sans KR', 'Malgun Gothic', 'dotum', sans-serif;box-sizing:border-box;background:#24272c;}
#evt_wrap * {box-sizing:border-box;font-family:'Noto Sans KR', 'Malgun Gothic', 'dotum', sans-serif;}
.evt-content {position:relative;top:0;width:100%;/*background-color:#24272c;*/text-align:center;line-height:1.2;transition:top 0.6s ease-out}
.evt-content .content-body {text-align:left;}
.footer {justify-content:center;position:absolute;left:0;bottom:0;width:100%;height:50px;background:rgba(0,0,0,.4);text-align:center;}
.footer .copyright {font-size:13px;letter-spacing:0;color:#545454;}

/* gnb, lnb */
.gnb-wrap {z-index:10;position:absolute;top:0;left:0;width:100%;padding:0 20px;background-color:#151515;}
.scroll .gnb-wrap {position:fixed;}
.gnb-area {justify-content:center;position:initial;width:100%;height:80px;margin:0 auto;}
.gnb-area .bi {position:absolute;left:20px;width:157px;height:46px;background:url('../images/bi.png') no-repeat;text-indent:-9999em;}
.gnb-area .bi a {display:block;width:100%;height:100%;}
.gnb-area .btn-home {width:37px;height:37px;background:url('../images/btn_home.png') no-repeat;text-indent:-9999em;}
.gnb-area .btn-login {width:136px;height:37px;border:1px solid var(--color-point);border-radius:19px;transition:background 0.2s ease, color 0.2s ease;font-size:15px;color:var(--color-point);}
.gnb-area .btn-login:hover {background-color:var(--color-point);color:#000;}
/* game start */
.gnb-area .btn-gamestart {width:116px;height:37px;font-size:15px;border:1px solid #de5d35;border-radius:19px;background-color:#cd3000;color:var(--color-white);}
.gnb-area .arrow_box {position:absolute;top:0;right:125px;width:230px;height:130px;background:#FFF;border:1px solid #d7d7d7;text-align:center;}
.gnb-area .arrow_box:after, 
.gnb-area .arrow_box:before {left:100%;top:19px;border:solid transparent;content:"";height:0;width:0;position:absolute;pointer-events:none;}
.gnb-area .arrow_box:after {border-color:rgba(215, 215, 215, 0);border-left-color:#FFF;border-width:7px;margin-top:-7px;}
.gnb-area .arrow_box:before {border-color:rgba(215, 215, 215, 0);border-left-color:#d7d7d7;border-width:9px;margin-top:-9px;}
.gnb-area .arrow_box p{margin:0 0 10px;padding:19px 0 0;font-size:14px;line-height:17px;letter-spacing:-0.03em;color:#383d41;}
.gnb-area .arrow_box .btn-Install span{margin:0 auto;padding:7px 5px 0;width:180px;height:30px;background:#f65f18;font-weight:bold;font-size:13px;color:#fff;} 
.gnb-area .arrow_box .btnX span{position:absolute;right:11px;top:11px;width:11px;height:11px;background:url('https://tr-image.game.onstove.com/event/201904/evt_navigation/img/icon_btns.png') no-repeat -320px 0px;text-indent:-1000em;}

.gnb-area .util-area {position:absolute;right:20px;}
.gnb-area .util-area .btn + .btn {margin-left:5px;}
.gnb-area .gnb {width:790px;height:100%;}
.gnb-area .gnb > li {height:100%;}
.gnb-area .gnb > li a {display:flex;flex-wrap:wrap;justify-content:center;align-items:center;position:relative;width:100%;height:100%;font-size:15px;}
.gnb-area .gnb > li a span {display:block;position:relative;}
.gnb-area .gnb > li > a:hover {text-decoration:none;}
.gnb-area .gnb > li > a > span::after {content:'';position:absolute;left:50%;bottom:-6px;width:0;height:2px;background-color:var(--color-white);transform:translateX(-50%);transition:width 0.2s ease;}
.gnb-area .gnb > li:hover > a > span::after {width:calc(100% + 6px);}
.gnb-area .gnb > li.current > a {font-weight:bold;color:var(--color-point);}
.gnb-area .gnb > li.current > a > span::after {width:calc(100% + 6px);background-color:var(--color-point);}
.gnb-area .gnb > li.current .lnb-area {display:block;}
.gnb-area .gnb li.new > a span::before {content:'';position:absolute;top:-3px;right:-13px;width:7px;height:7px;background-color:#ff1e00;border-radius:100%;}
.gnb-area .lnb-area {display:none;position:absolute;left:0;top:100%;width:100%;height:38px;background-color:rgba(0,0,0,.8);text-align:center;}
.gnb-area .lnb-area ul {justify-content:flex-start;width:1200px;height:100%;margin:0 auto;}
.gnb-area .lnb-area ul li {position:relative;width:108px;}
.gnb-area .lnb-area ul li a {font-size:14px;color:#656565;}
.gnb-area .lnb-area ul li a:hover {text-decoration:none;color:var(--color-white);}
.gnb-area .lnb-area ul li + li::before {content:'';position:absolute;left:0;top:calc(50% - 1px);width:2px;height:2px;background-color:#656565;border-radius:100%;}
.gnb-area .lnb-area ul li.current a {font-weight:bold;color:var(--color-point);}
.gnb-area .lnb-area ul li.new > a::before {top:2px;}

.m1 {width:56px;}
.m1 .lnb-area ul {padding-left:178px;}
.m2 .lnb-area ul {padding-left:208px;}
.m3 .lnb-area ul {padding-left:352px;}

/* tab */
.tab-area {position:relative;width:100%;}
[data-tab-type="type1"] {overflow:hidden;height:62px;margin:0 0 40px;border-radius:5px;}
[data-tab-type="type1"] .tab {justify-items:stretch;align-items:stretch;height:100%;border:1px solid #b8c0cc;border-radius:5px;}
[data-tab-type="type1"] .tab li {display:inline-flex;flex:1;justify-content:center;align-items:center;position:relative;text-align:center;}
[data-tab-type="type1"] .tab li a {display:flex;justify-content:center;align-items:center;width:100%;height:100%;font-weight:bold;font-size:24px;color:rgba(255,255,255,0.6);}
[data-tab-type="type1"] .tab li span {vertical-align:middle;}
[data-tab-type="type1"] .tab li:not(:first-child) {border-left:1px solid #b8c0cc;}
[data-tab-type="type1"] .tab li.current a {z-index:1;position:absolute;left:-1px;top:-1px;width:calc(100% + 2px);height:calc(100% + 2px);background-color:#fff;color:#3b64ec;}
/* tab - list */
[data-tab-type="type2"] {margin-bottom:20px;width:100%;height:47px;border-bottom:1px solid #3b64ec;}
[data-tab-type="type2"] .tab {display:flex;height:100%;padding-left:1px;}
[data-tab-type="type2"] .tab li {position:relative;z-index:0;display:block;float:left;width:85px;height:100%;margin-left:-1px;background-color:#f2f4f7;border:1px solid #e1e1e1;border-bottom:0;border-radius:5px 5px 0 0;/* bottom:1px; */}
[data-tab-type="type2"] .tab li a {display:flex;align-items:center;justify-content:center;width:100%;height:100%;text-align:center;font-weight:500;font-size:14px;color:#5c6066;}
[data-tab-type="type2"] .tab li.current {z-index:1;position:relative;height:calc(100% + 1px);padding-bottom:1px;background-color:#fff;border:1px solid #3b64ec;border-bottom:0;}
[data-tab-type="type2"] .tab li.current a {color:#3b64ec;}
/* tab - list */
[data-tab-type="type3"] {height:32px;margin:0 0 20px;}
[data-tab-type="type3"] .tab {height:100%;}
[data-tab-type="type3"] .tab li {float:left;position:relative;height:100%;padding:0 20px 0 19px;text-align:center;}
[data-tab-type="type3"] .tab li:first-child {padding-left:0;}
[data-tab-type="type3"] .tab li + li::before {display:block;position:absolute;left:0;top:calc(50% - 6px);width:1px;height:13px;background-color:#d9d9d9;content:'';}
[data-tab-type="type3"] .tab li a {display:inline-flex;justify-content:center;align-items:center;height:100%;padding:0 3px 0 1px;font-weight:500;font-size:18px;color:#999;}
[data-tab-type="type3"] .tab li.current a {padding-top:2px;border-bottom:2px solid #3b64ec;color:#3b64ec;}
/* tab - toggle */
.tab-area .tab + .tab-toggle {position:absolute;right:0;top:0;}
.tab-area .tab-toggle {display:inline-flex;height:35px;margin:0 0 20px;background-color:#e4e8ef;border-radius:5px;}
.tab-area .tab-toggle li {display:inline-flex;justify-content:center;align-items:center;position:relative;text-align:center;}
.tab-area .tab-toggle li a {display:flex;justify-content:center;align-items:center;width:100%;height:100%;padding:0 15px;border:1px solid #b8c0cc;font-weight:500;font-size:15px;color:#9298a3;}
.tab-area .tab-toggle li span {vertical-align:middle;}
.tab-area .tab-toggle li:first-child a {border-radius:5px 0 0 5px;}
.tab-area .tab-toggle li:last-child a {border-radius:0 5px 5px 0;}
.tab-area .tab-toggle li:not(:first-child) {margin-left:-1px;}
.tab-area .tab-toggle li.current a {z-index:1;background-color:#fff;border:1px solid #3b64ec;color:#3b64ec;}

/* table */
.tbl-area {position:relative;}
.tbl {border-top:2px solid #81868f;border-bottom:1px solid #81868f;font-size:13px;}
.tbl th, .tbl td {padding:4px 20px;border:solid #ededed;border-width:0;text-align:center;}
.tbl tr th:first-of-type, .tbl tr td:first-of-type {border-left:0;}
.tbl thead th {height:32px;background-color:#f7f7f7;}
.tbl tbody th {background-color:#f7f7f7;font-size:13px;}
.tbl tbody td {height:36px;font-weight:400;color:#666;}
.tbl tbody tr:first-of-type th,
.tbl tbody tr:first-of-type td {border-top:1px solid #81868f;}
.tbl tbody tr:not(:first-of-type) th,
.tbl tbody tr:not(:first-of-type) td {border-top:1px solid #e8e8e8;}
.tbl td.t-left {padding-left:10px;text-align:left;}
.tbl td.t-left span {color:#3b64ec;}
.tbl td.t-nodata {height:300px;}
.tbl td sub {margin-left:5px;font-size:13px;color:#999;}
.tbl td textarea + sub {display:block;margin:0 0 15px;}
.tbl td small {display:block;margin-top:5px;padding-left:13px;text-indent:-13px;font-size:13px;color:#666;}
.font-num {letter-spacing:0;}
.tbl .own td {background-color:#fffbcc !important;}
.tbl .own td .btn {background-color:#fff9b8;border-color:#e4de95;color:#cac691;pointer-events:none;}

/* form */
input[type="text"],input[type="password"],input[type="search"] {min-width:100px;height:48px;padding:0 15px;background-color:#fff;border:1px solid #b8c0cc;border-radius:5px;font-size:15px;}
input[type="text"]:focus,input[type="password"]:focus,input[type="search"]:focus,
input[type="text"]:valid:not(:focus):not(:placeholder-shown),
input[type="password"]:valid:not(:focus):not(:placeholder-shown),
input[type="search"]:valid:not(:focus):not(:placeholder-shown) {background-color:#fff;color:#a0a0a0;}
input[type="text"][readonly] {background-color:#fbfbfb;}
::-webkit-input-placeholder{color:#a0a0a0;}
::-moz-placeholder{color:#a0a0a0;}
:-moz-placeholder{color:#a0a0a0;}
:-ms-input-placeholder{color:#a0a0a0;}
textarea {width:100%;margin:0 0 10px;padding:20px;background-color:#fff;border:1px solid #b8c0cc;border-radius:5px;font-size:15px;resize:none;}

.form {display:flex;align-items:flex-start;position:relative;}
.selectbox {display:inline-block;position:relative;width:100%;}
.selectbox .selectbox-header {position:relative;width:100%;height:39px;padding-left:20px;background-color:#fff;border:1px solid #b8c0cc;border-radius:5px;text-align:left;font-weight:500;font-size:16px;color:#666;}
.selectbox .selectbox-header:after {z-index:2;content:'▼';position:absolute;top:50%;right:0;width:37px;text-align:center;transform:translateY(-50%) scaleY(0.7) rotate(0);font-size:14px;line-height:28px;transition:all 0.2s ease;color:#81868f;}
.selectbox .selectbox-header.open:after {transform:translateY(-50%) scaleY(0.7) rotate(180deg);}
.selectbox .selectbox-body {z-index:1;overflow:hidden;display:none;position:absolute;top:calc(100% - 1px);left:0;width:100%;padding:15px 20px;background-color:#fff;border:1px solid #b8c0cc;border-radius:5px;}
.selectbox .selectbox-body button {display:block;width:100%;height:30px;background-color:transparent;text-align:left;font-weight:500;font-size:16px;color:#666;}
.selectbox .selectbox-body button:hover {color:#3b64ec;}
.selectbox .selectbox-body .select-self {margin-top:11px;padding:15px 0 13px;border-top:1px solid #909090;}

.checker {display:inline-block;position:relative;text-align:left;}
.checker + .checker {margin-left:20px;}
input[type="checkbox"],
input[type="radio"] {position:absolute;top:0;left:0;opacity:0;vertical-align:middle;}
input[type="checkbox"] + label {display:inline-block;position:relative;line-height:1;color:#333;cursor:pointer;}
input[type="checkbox"] + label:before {content:"";display:inline-block;width:20px;height:20px;margin-right:0.625rem;background-color:#fbfbfb;border:1px solid #e4e4e4;vertical-align:middle;}
input[type="checkbox"] + label * {vertical-align:middle;}
input[type="checkbox"]:checked + label {color:#000;}
input[type="checkbox"]:checked + label:after {content:"";position:absolute;left:0;top:0;width:20px;height:20px;background:#3b64ec;}
input[type="radio"] + label {display:inline-block;position:relative;padding-left:20px;line-height:1;color:#333;cursor:pointer;}
input[type="radio"] + label:before {content:"";position:absolute;left:0;top:50%;width:13px;height:13px;margin-top:-5px;background-color:#fbfbfb;border:1px solid #e4e4e4;border-radius:100%;vertical-align:middle;}
input[type="radio"] + label * {vertical-align:middle;}
input[type="radio"]:checked + label:after {content:"";position:absolute;left:3px;top:50%;width:7px;height:7px;margin-top:-2px;background:#3b64ec;border-radius:100%;}
.txt-result {margin-top:10px;}
.input-search + .btn {display:inline-flex;align-items:center;width:22px;height:48px;margin:0 0 0 -23px;padding:1px 0 0;}
.input-file {position:absolute;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0,0,0,0);border:0;}
.input-file-url {margin-right:2px;}

/* paging */
.pagination {margin:50px 0;text-align:center;}
.pagination-list {margin:0;padding:0;list-style:none;overflow:hidden;}
.pagination-list li {margin:0;display:inline-block;vertical-align:top;}
.pagination-list li a {position:relative;display:block;min-width:19px;height:29px;line-height:29px;text-align:center;font-weight:500;font-size:16px;color:#999;}
.pagination-list li a.current {color:#333;text-decoration:underline;}
.pagination-list li a:hover, .pagination-link:focus{color:#333;}
.pagination-prev,
.pagination-next {width:29px;background:#fff;border:1px solid #b8c0cc;border-radius:5px;text-indent:-9999em;}
.pagination-prev {margin:0 20px 0 0;}
.pagination-next {margin:0 0 0 20px;}
.pagination-prev::after {z-index:1;content:'▼';position:absolute;left:50%;top:0;margin-left:-5px;transform:rotate(90deg);font-size:11px;text-indent:0;}
.pagination-next::after {z-index:1;content:'▼';position:absolute;left:50%;top:0;margin-left:-5px;transform:rotate(-90deg);font-size:11px;text-indent:0;}

/* tooltip */
.tooltip {z-index:80;display:none;position:absolute;left:22px;padding:18px 20px 20px;background-color:#fff;border-radius:5px;text-align:left;line-height:20px;color:#000;}
.tooltip.show {display:block;}
.tooltip p {white-space:nowrap;}
.tooltip li + li {margin-top:8px;}
.tooltip li a {white-space:nowrap;font-size:13px;color:#fff;}
.tooltip li a:hover {border-bottom:1px solid #fff;}
.tooltip li a i {vertical-align:-1px;}
.tooltip-area {display:inline-block;position:relative;vertical-align:middle;}
.tooltip-area .tooltip {left:28px;top:-34px;min-width:330px;padding:20px;}
.tooltip-area .tooltip li {position:relative;float:none;padding:0 0 0 8px;text-align:left;}
.tooltip-area .tooltip li::before {content:'';position:absolute;left:0;top:7px;width:5px;height:5px;background-color:#fff;border-radius:3px;}
.tooltip-area .tooltip li + li {margin-top:10px;}
.tooltip-area .ico-q:hover + .tooltip {display:block;}

/* icons */
.ico {display:inline-block;background:var(--icons) no-repeat -9999em 0;text-indent:-9999em;}
.ico-q {width:31px;height:31px;background-position:-4px -415px;}
.ico-q-xs {width:19px;height:19px;background-position:-45px -415px;}

/* buttons */
.contents .btn-area {width:100%;margin:30px 0 0;text-align:center;}
.btn-area .btn + .btn {margin-left:6px;}

.btn {display:inline-flex;justify-content:center;align-items:center;overflow:hidden;position:relative;background-color:transparent;border-radius:0;transition:all 0.2s ease;}
.btn span {position:relative;}
.btn > .ico + span,
.btn > span + .ico {margin-left:5px;}

.btn-default {display:inline-flex;justify-content:center;align-items:center;height:43px;padding:0 30px;background-color:#252d48;border-radius:5px;font-weight:500;font-size:16px;color:#fff;}
.btn-default.disabled, .btn-default:disabled {background-color:#fff9b8;border:1px solid #e4de95;color:#cac691;cursor:default;}
.btn-type1 {background-color:#a0a0a0;}
.btn-xs {min-width:60px;height:27px;padding:0 10px;border-radius:14px;font-size:13px;}

/* main
---------------------------------------------------------- */
.evt-header {position:relative;height:844px;background:url('../images/main/bg_header.jpg') no-repeat 50% 0;text-align:center;}
.evt-header .title {text-indent:-9999em;}
.evt-header .user-type {position:absolute;left:0;top:434px;width:100%;height:38px;animation:blink 6s 2s infinite;}
.evt-header .user-type p {width:100%;font-size:15px;color:var(--color-white);}
.evt-header .user-type p strong, .evt-header .user-type p a {font-weight:normal;color:#ffe985;}
@keyframes blink {
	0%, 5%, 10% {opacity:1;}
	3%, 7% {opacity:0;}
}
.main .evt-content {padding:0 0 30px;height:764px;}
.main .evt-content > .pattern {position:absolute;left:50%;top:-117px;width:2560px;height:117px;margin-left:-1280px;background:url('../images/main/bg_content_pattern.png') no-repeat;}
.main .evt-content .content-body {top:-113px;}

.box-area {align-content:space-between;align-items:stretch;}
.box-area .box {position:relative;overflow:hidden;background-position:50% 100%;background-repeat:no-repeat;border-radius:20px;box-shadow:0 5px 0px rgba(0,0,0,.3);}
.box-area .box a {position:absolute;left:0;top:40px;bottom:0;width:100%;}
.box-area .box h2 {position:absolute;left:30px;bottom:0;height:106px;text-align:left;font-weight:bold;font-size:26px;line-height:1.4;letter-spacing:-2px;color:var(--color-white);}
.box-area .box-group {align-content:space-between;width:422px;padding-top:10px;}
.box-area .box-group .box a {top:30px;}
.box-area [data-box-num="1"] {width:486px;height:352px;background-image:url('../images/main/bg_box01.png');}
.box-area [data-box-num="2"] {width:327px;height:352px;background-image:url('../images/main/bg_box02.png');}
.box-area [data-box-num="3"] {width:328px;height:352px;background-image:url('../images/main/bg_box03.png');}
.box-area [data-box-num="4"] {width:359px;height:382px;background-image:url('../images/main/bg_box04.png');}
.box-area [data-box-num="5"] {width:359px;height:382px;background-image:url('../images/main/bg_box05.png');}
.box-area [data-box-num="6"] {width:100%;height:50%;background-image:url('../images/main/bg_box06.png');}
.box-area [data-box-num="7"] {width:100%;height:50%;background-image:url('../images/main/bg_box07.png');}

.box-area .box::before {content:'';position:absolute;right:0;bottom:0;width:100%;height:100%;background-position:100% 100%;background-repeat:no-repeat;transition:all 0.4s ease;}
.box-area .box:hover::before {transform:scale(1.05);transform-origin:50% 50%;}
.box-area [data-box-num="1"]::before {background-image:url('../images/main/bg_box01_obj.png');background-position-y:10px;}
.box-area [data-box-num="2"]::before {background-image:url('../images/main/bg_box02_obj.png');background-position-y:10px;}
.box-area [data-box-num="3"]::before {background-image:url('../images/main/bg_box03_obj.png');background-position-y:10px;}
.box-area [data-box-num="4"]::before {background-image:url('../images/main/bg_box04_obj.png');}
.box-area [data-box-num="5"]::before {background-image:url('../images/main/bg_box05_obj.png');}
.box-area [data-box-num="6"]::before {background-image:url('../images/main/bg_box06_obj.png');}
.box-area [data-box-num="7"]::before {background-image:url('../images/main/bg_box07_obj.png');}

[data-popup-id="login1"], [data-popup-id="login2"], [data-popup-id="login3"] {position:absolute;left:4px;top:4px;right:4px;bottom:0;background-color:rgba(0,0,0,.9);background-repeat:no-repeat;background-position:50% 116px;border:0;outline:4px solid rgba(60,60,60,.9);}
[data-popup-id="login1"].show, [data-popup-id="login2"].show, [data-popup-id="login3"].show {transform:none;}
[data-popup-id="login1"] .btn-area, [data-popup-id="login2"] .btn-area, [data-popup-id="login3"] .btn-area {position:absolute;left:0;top:500px;width:100%;margin:0;}
[data-popup-id="login1"] .btn-close {right:38px;top:38px;}
[data-popup-id="login1"] {background-image:url('../images/main/popup_login01.png?20220706');}
[data-popup-id="login2"] {background-image:url('../images/main/popup_login02.png?20220706');}
[data-popup-id="login3"] {background-image:url('../images/main/popup_login03.png?20220706');}
.popup .btn-login {width:189px;height:76px;background:url('../images/main/btn_login.png') no-repeat;text-indent:-9999em;}
.popup .btn-game-process {width:189px;height:76px;background:url('../images/main/btn_game_process.png') no-repeat;text-indent:-9999em;}
.popup .btn-team-assign {width:189px;height:76px;background:url('../images/main/btn_team_assign.png') no-repeat;text-indent:-9999em;}

/* sub
---------------------------------------------------------- */
.sub .evt-content {min-height:100%;padding:180px 0 120px;}
.sub .evt-content .content-body {width:1240px;}

.content-body .btn-area {width:100%;margin:30px 0 0;text-align:center;}
.btn-area .btn + .btn {margin-left:6px;}
.color-point {color:var(--color-point);}


@media screen and (max-width:1500px) {
	.gnb-area {margin-left:-76px;}
	.gnb-area .gnb {width:640px;}

	.m2 .lnb-area ul {padding-left:178px;}
	.m3 .lnb-area ul {padding-left:290px;}
}
