.ir,.blind {
	display:block;
	overflow:hidden;
	height:0;
	width:0;
	margin:0;
	padding:0;
	font-size:0;
	line-height:0
}

.inner {
	position:relative
}

.flex {
	display:flex;
	justify-content:flex-start;
	align-items:center
}

.flex-between {
	display:flex;
	justify-content:space-between;
	align-items:center
}

.flex-center {
	display:flex;
	justify-content:center;
	align-items:center
}

.flex-end-center {
	display:flex;
	justify-content:flex-end;
	align-items:center
}

.flex-wrap {
	flex-wrap:wrap
}

.full-wh {
	width:100%;
	height:100%
}

*,*:before,*:after {
	margin:0;
	padding:0;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	word-break:break-word;
	outline:0
}

html,body {
	width:100%;
	min-width:1200px;
	height:100%;
	background-color:#fff;
	font-family:Noto Sans KR,malgun gothic,dotum,sans-serif;
	font-size:13px;
	line-height:1.2;
	color:#000;
	letter-spacing:-0.05em
}

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,button,blockquote,a,address,img,strong,dl,dt,dd,ol,ul,li,fieldset,form,pre,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,input {
	margin:0;
	padding:0;
	word-break:keep-all
}

h1,h2,h3,h4,h5,h6,strong {
	font-weight:400;
	font-size:100%
}

hr {
	display:none
}

fieldset, iframe {
	width:100%;
	border:0 none
}

ol,ul,li,dl,dt,dd {
	list-style:none
}

img {
	border:0 none;
	vertical-align:middle
}

i,em,address {
	font-style:normal
}

label,button {
	cursor:pointer
}

button,a,input,label,textarea,select {
	vertical-align:middle;
	letter-spacing:-0.05em;
	font-size:13px;
	line-height:1.2;
	font-family:Noto Sans KR,malgun gothic,dotum,sans-serif;
	word-break:break-all
}

button {
	margin:0;
	padding:0;
	border:0;
	outline:none
}

button * {
	position:relative
}

a {
	color:#454545;
	text-decoration:none
}
a:link,a:hover {
	color:#454545;
	text-decoration:none
}
table {
	width:100%;
	border-collapse:collapse;
	border-spacing:0
}
input::-ms-clear {
	display:none
}
legend,caption {
	display:block;
	overflow:hidden;
	height:0;
	width:0;
	margin:0;
	padding:0;
	font-size:0;
	line-height:0;
	text-indent:-9999em
}
.hide {
	display:block;
	overflow:hidden;
	height:0;
	width:0;
	margin:0;
	padding:0;
	font-size:0;
	line-height:0
}
body {
	min-height:auto !important
}
#sideEvtNav *,#sideEvtNav *:before,#sideEvtNav *:after {
	box-sizing:content-box
}
#evt_wrap {
	overflow:hidden;
	position:relative;
	width:100%;
	min-width:1200px;
	box-sizing:border-box;
	background:#fff
}
#evt_wrap .logo {
	position:absolute;
	top:20px;
	left:100px;
	z-index:100
}
#evt_wrap .logo a {
	display:block;
	width:82px;
	height:52px;
	background:url("../images/logo.png?ver=0.2434694786") no-repeat;
	text-indent:-9999em
}
#evt_wrap .evt-content {
	overflow:hidden;
	position:relative;
	width:100%;
	text-align:center;
	line-height:1.2
}
#evt_wrap .content-body {
	position:relative
}
#evt_wrap * {
	box-sizing:border-box;
	font-family:Noto Sans KR,malgun gothic,dotum,sans-serif;
	color:#454545;
	letter-spacing:-0.05em
}
#evt_wrap .evt-header {
	position:relative;
	height:1310px;
	background:#dcdcdc url("../images/bg_header.jpg?ver=0.2434694786") no-repeat 50% 0;
	text-align:center
}
#evt_wrap .evt-header .title-header {
	position:absolute;
	top:62px;
	left:100px;
	width:1000px;
	height:280px;
	background:url("../images/title_header.png?ver=0.2434694786") no-repeat 50% 0
}
#evt_wrap .evt-header .title-motion {
	position:absolute;
	top:65px;
	left:258px;
	width:230px;
	height:200px;
	animation:motionMoonMove 1s forwards infinite linear
}
#evt_wrap .evt-header .title-motion::before {
	content:"";
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:url("../images/bg_moon_light.png?ver=0.2434694786") no-repeat 50% 0;
	animation:motionMoonLight 2s forwards infinite linear
}
#evt_wrap .evt-header .title-motion::after {
	content:"";
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:url("../images/bg_moon.png?ver=0.2434694786") no-repeat 50% 0
}
#evt_wrap .evt-header .character01 {
	position:absolute;
	bottom:309px;
	left:-140px;
	width:356px;
	height:466px;
	background:url("../images/bg_character01.png?ver=0.2434694786") no-repeat 0 0;
	animation:motionCharacterMove 1.4s forwards infinite step-start
}
#evt_wrap .evt-header .character02 {
	position:absolute;
	bottom:-130px;
	right:-116px;
	width:392px;
	height:462px;
	background:url("../images/bg_character02.png?ver=0.2434694786") no-repeat 0 0;
	animation:motionCharacterMove02 1.4s forwards infinite step-start;
	z-index:5
}
#evt_wrap .content-body {
	background-color:#dcdcdc
}
#evt_wrap .content-body .title-content {
	position:absolute;
	top:0;
	left:50%;
	width:600px;
	height:230px;
	margin-left:-300px;
	background:url("../images/title_content.png?ver=0.2434694786") no-repeat 50% 0
}
#evt_wrap .content-body .section01 {
	height:1343px;
	background:url("../images/bg_section01.jpg?ver=0.2434694786") no-repeat 50% 0
}
#evt_wrap .content-body .section02 {
	position:relative;
	height:738px;
	background:url("../images/bg_section02.jpg?ver=0.2434694786") no-repeat 50% 0
}
#evt_wrap .content-body .section02 .text-thanks {
	position:absolute;
	top:214px;
	left:50%;
	width:1000px;
	height:216px;
	margin-left:-500px;
	background:url("../images/text_thanks.png?ver=0.2434694786") no-repeat 50% 0
}
.inner {
	position:relative;
	width:1200px;
	height:100%;
	margin:0 auto
}
.event_comment {
	background:#fdfdfd url("../images/bbs_bg.jpg?ver=0.2434694786") no-repeat 50% 0
}
.event_comment .event_comment_in {
	width:980px;
	margin:0 auto;
	padding:170px 0 0 0
}
#evt_wrap .footer {
	position:relative;
	height:90px;
	padding-top:8px;
	background:#fdfdfd;
	line-height:90px
}
#evt_wrap .footer .footer_copyright {
	width:100%;
	text-align:center;
	font-family:"Tahoma","Geneva","sans-serif";
	font-size:12px;
	letter-spacing:0;
	color:#666
}
@keyframes motionMoonLight {
	0%,10%,28%,40%,100% {
    opacity:1
  }
  20%,34% {
    opacity:0
  }
}
@keyframes motionMoonMove {
	0%,100% {
    -webkit-transform:translateY(-5px);
    transform:translateY(-5px)
  }
  50% {
    -webkit-transform:translateY(5px);
    transform:translateY(5px)
  }
}
@keyframes motionCharacterMove {
	0%,100% {
    -webkit-transform:translateY(-8px) rotate(-8deg);
    transform:translateY(-8px) rotate(-8deg)
  }
  50% {
    -webkit-transform:translateY(0) rotate(0);
    transform:translateY(0) rotate(0)
  }
}
@keyframes motionCharacterMove02 {
  0%,100% {
    -webkit-transform:translateY(8px) rotate(6deg);
    transform:translateY(8px) rotate(6deg)
  }
  50% {
    -webkit-transform:translateY(0) rotate(0);
    transform:translateY(0) rotate(0)
  }
}